/* Blog Date and lecture time*/
.blog-date {
  font-size: 16px;
  color: #d2d2d2;
  font-weight: 800;
}

.blog-date time {
  text-transform: uppercase;
}

/* Tags for blog */
.blog-tag {
  font-size: 16px;
  display: inline-block;
  padding: 0.2em 0.9em;
  margin: 0 0.5em 0.5em 0;
  white-space: nowrap;
  background-color: $primary-color;
  color: $white-color;
  border-radius: 3px;
}

.highlight {
  margin-bottom: 20px;
}
