/* Blog Date*/
bd {
  font-size: 15px;
  text-transform: uppercase;
  color: #d2d2d2;
  font-weight: 700;
}

/* Blog Author*/
ba {
  font-size: 12px;
  text-transform: uppercase;
}

/* Blog Quote */
.bq {
  font-size: 22px;
  padding-top: 30px;
}

/* Blog Tags */
bt {
  font-size: 12px;
}

/* Tags for blog */

.blog-tag {
  display: inline-block;
  padding: 0.2em 0.9em;
  margin: 0 0.5em 0.5em 0;
  white-space: nowrap;
  background-color: $primary-color;
  color: $white-color;
  border-radius: 3px;
}
