= wrap_layout :layout do
  article
    #white
      .container
        .row
          .col-lg-8.col-lg-offset-2
            h1 = current_page.title
            = partial "shared/blog_header", locals: {post: current_page}
            hr
            = yield
            hr
            = disqus
            = disqus_count
