<div class="container pt">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>EcoTa.co</h3>
      <hr>
      <p>EcoTa.co is a startup specialized in transport by private car.</p>
      <br>
      <p>I was responsible for developing the iOS app, and helping the CTO to maintain the main application in Ruby on Rails.</p>
    </div>
  </div>

  <div class="row mt centered">
    <div class="col-lg-8 col-lg-offset-2">
      <p><img class="img-responsive" src="/assets/images/work/ecotaco.jpg" alt=""></p>
    </div>
  </div>

  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <p>You can find the app on the <a href="https://itunes.apple.com/app/id888248589">App Store</a>.</p>
      <p>Or the Ruby on Rails web application at <a href="https://app.ecota.co/">app.ecota.co</a>.</p>
    </div>
  </div>

  <div class="row mt centered">
    <div class="col-lg-3">
      <p><img class="img-responsive" src="/assets/images/work/ecotacoAppStore1.png" alt=""></p>
    </div>
    <div class="col-lg-3">
      <p><img class="img-responsive" src="/assets/images/work/ecotacoAppStore2.png" alt=""></p>
    </div>
    <div class="col-lg-3">
      <p><img class="img-responsive" src="/assets/images/work/ecotacoAppStore3.png" alt=""></p>
    </div>
    <div class="col-lg-3">
      <p><img class="img-responsive" src="/assets/images/work/ecotacoAppStore4.png" alt=""></p>
    </div>
  </div>

  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <p>Client: <a href="http://ecota.co/contact/"><b>FactorAPP SAS</b></a> -
        Type: <b>iOS & Ruby on Rails</b> -
        Date: <b>2014-2016</b>
      </p>
    </div>
  </div>
</div>
