<div class="container pt">

  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>Le Wagon Lille</h3>
      <hr>
      <p>Le Wagon is a training to become a Web developer in Ruby on Rails.</p>
      <p>
        I'm currently a teacher for <a href='https://www.lewagon.com/fr/lille'>Le Wagon Lille</a>,
        it's a fullStack program of 2 months to become a web developer.
      </p>
    </div>
  </div>

  <div class="row mt centered">
    <div class="col-lg-8 col-lg-offset-2">
      <p><img class="img-responsive" src="/assets/images/work/lewagon.jpg" alt=""></p>
    </div>
  </div>

  <div class="row mt centered">
    <div class="col-lg-3">
      <p><img class="img-responsive" src="/assets/images/work/lewagon1.jpg" alt=""></p>
    </div>
    <div class="col-lg-3">
      <p><img class="img-responsive" src="/assets/images/work/lewagon2.jpg" alt=""></p>
    </div>
    <div class="col-lg-3">
      <p><img class="img-responsive" src="/assets/images/work/lewagon4.jpg" alt=""></p>
    </div>
    <div class="col-lg-3">
      <p><img class="img-responsive" src="/assets/images/work/lewagon3.jpg" alt=""></p>
    </div>
  </div>
</div>
