.container.pt

  .row.mt
    .col-lg-6.col-lg-offset-3.centered
      h3 Le Wagon Lille
      hr
      p Le Wagon is a training to become a Web developer in Ruby on Rails.
      p
        |I'm currently a teacher for 
        a href='https://www.lewagon.com/fr/lille' Le Wagon Lille
        |, it's a fullStack program of 2 months to become a web developer.

  .row.mt.centered
    .col-lg-8.col-lg-offset-2
      p
        img.img-responsive src="/assets/images/work/lewagon.jpg" alt=""

  .row.mt.centered
    .col-lg-3
      p
        img.img-responsive src="/assets/images/work/lewagon1.jpg" alt=""
    .col-lg-3  
      p
        img.img-responsive src="/assets/images/work/lewagon2.jpg" alt=""
    .col-lg-3
      p
        img.img-responsive src="/assets/images/work/lewagon4.jpg" alt=""
    .col-lg-3
      p
        img.img-responsive src="/assets/images/work/lewagon3.jpg" alt=""
