<div class="container pt">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>Tings</h3>
      <hr>
    </div>
  </div>


  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <p>Client: <a href="http://tingslabs.com"><b>TingsLabs SAS</b></a> -
        Type: <b>iOS & Ruby on Rails</b> -
        Date: <b>2015-2016</b>
      </p>
    </div>
  </div>
</div>
