<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>License</h4>
        <p>
          This website is licensed under a
          <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </p>
      </div>  <!-- /col-lg-4 -->

      <div class="col-lg-4">
        <h4>My Links</h4>
        <p>
          <a href="https://github.com/BenjaminDigeon">Github</a><br/>
          <a href="https://twitter.com/todiann">Twitter</a><br/>
          <a href="https://fr.linkedin.com/in/benjamindigeon">Linkedin</a><br/>
          <a href="/feed.xml">Flux RSS</a>
        </p>
      </div><!-- /col-lg-4 -->

      <div class="col-lg-4">
        <h4>About</h4>
        <p>Made with <span style="font-size:1em;" class="glyphicon glyphicon-heart"></span>
          using <a href="https://middlemanapp.com/">Middleman</a>
          on a theme from <a href="http://blacktie.co/">Blacktie</a>
          and host on <a href="https://pages.github.com/">Github Pages</a>.
        </p>
      </div><!-- /col-lg-4 -->

    </div>

  </div>
</div>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/assets/javascripts/bootstrap.min.js"></script>
