<div id="ww">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <img src="/assets/images/user.png" alt="Stanley">
        <h1>Hi, I'm Benjamin Digeon.</h1>
        <h1>
          I'm a Freelance Web and Mobile developer from
          <a href="https://en.wikipedia.org/wiki/Lille">Lille</a>, France.
        </h1>
        <p>
          I mainly work with Ruby and iOS but also code in a lot of other
          languages and frameworks. I'm also a organizer at
          <a href="http://www.takeoffconf.com">Takeoff Conf.</a>
        </p>
        <p>You can check some of <a href="/work.html">my work as a Freelance</a>,
          check <a href="/talks">my talks</a>,
          learn a <a href="/about">little more about myself</a>,
          check my <a href="/blog">blog articles</a>
          or just <a href="/contact">contact me</a>.</p>
      </div>
    </div>
  </div>
</div>
