<div class="container pt">
  <div class="row mt">
    <div class="col-lg-6">
      <h4>ABOUT MYSELF</h4>
      <hr>
      <p>
        I currently sharing my time between my work as a freelancer developer,
        a Ruby on Rails teacher at <a href="https://www.lewagon.com/lille">Le Wagon Lille</a> and as the mobile lead developer at
        <a href="http://www.tingslabs.com">TingsLabs</a>, a startup creating a application to organize wine tasting events.
      </p>
      <p>
        I'm also a organizer at <a href="http://www.takeoffconf.com">Takeoff Conf</a> a amazing conference in northern France.
      </p>
      <p>
        Before that I worked for various startups, agencies or companies.
      </p>
      <p>
        You can reach me via <a href="https://twitter.com/todiann">@Todiann</a> on Twitter,
        my <a href="https://fr.linkedin.com/in/benjamindigeon">LinkedIn</a> account
        or just <a href="/contact">contact me</a>.
      </p>
    </div>

    <div class="col-lg-6">
      <img class="img-responsive" src="/assets/images/AboutPicture.jpg" alt="" />
    </div>

  </div>
</div>
