.container.pt
  .row.mt
    .col-lg-6
      h4 ABOUT MYSELF
      hr
      p
        |I currently sharing my time between my work as a freelancer developer, 
        |and as a Ruby on Rails teacher at 
        a href="https://www.lewagon.com/lille" Le Wagon Lille
        |.
      p
        |I'm also a organizer at 
        a href="http://www.takeoffconf.com" Takeoff Conf 
        |a amazing conference in northern France.
      p
        |Before that I worked for various startups, agencies or companies.
      p
        |You can reach me via 
        a href="https://twitter.com/todiann" @Todiann 
        |on Twitter, with my 
        a href="https://fr.linkedin.com/in/benjamindigeon" LinkedIn 
        | account or just 
        a href="/contact" contact me
        |.

    .col-lg-6
      img.img-responsive src="/assets/images/AboutPicture.jpg" alt=""
