<div class="container pt">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>CONTACT ME</h3>
      <hr>
      <p>You can contact me through this form and I will try to answer you as soon as possible.</p>
    </div>
  </div>
  <div class="row mt">
    <div class="col-lg-8 col-lg-offset-2">
      <form role="form" action="//formspree.io/benjamindigeon@gmail.com" method="POST">
        <div class="form-group">
          <input type="name" class="form-control" name="name" placeholder="Your Name">
          <br>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="_replyto" placeholder="Enter email">
          <br>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="_subject" placeholder="Subject">
          <br>
        </div>
        <textarea class="form-control" rows="6" name ="message" placeholder="Enter your text here"></textarea>
        <br>
        <button type="submit" class="btn btn-success">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
