<div class="container pt">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>MY TALKS</h3>
      <hr>
    </div>
  </div>

  <div class="row mt centered">
    <div class="col-lg-4">
      <a class="zoom green" href="/talks/FastlaneAndSDWebImage">
        <img class="img-responsive" src="/assets/images/talks/FastlaneAndSDWebImage.png" alt="" />
      </a>
      <p>
        <b>Fastlane & SDWebImage</b>
        <br>
        Novembre 24, 2015
      </p>
    </div>
    <div class="col-lg-4">
      <a class="zoom green" href="/talks/iOSDevelopmentInAHackathon">
        <img class="img-responsive" src="/assets/images/talks/iOSDevelopmentInAHackathon.png" alt="" />
      </a>
      <p>
        <b>iOS development in a hackathon</b>
        <br>
        November 6, 2014
      </p>
    </div>
  </div>
</div>
