.container.pt
  .row.mt
    .col-lg-6.col-lg-offset-3.centered
      h3 MY TALKS
      hr

  .row.mt.centered
    .col-lg-4
      figure.imghvr-fade
        a href="/talks/FastlaneAndSDWebImage"
        img.img-responsive src="/assets/images/talks/FastlaneAndSDWebImage.png" alt=""
      p
        b Fastlane & SDWebImage
        br
        |Novembre 24, 2015

    .col-lg-4
      figure.imghvr-fade
        a href="/talks/iOSDevelopmentInAHackathon"
        img.img-responsive src="/assets/images/talks/iOSDevelopmentInAHackathon.png" alt=""
      p
        b iOS development in a hackathon
        br
        |November 6, 2014
