.container.pt
  .row.mt
    .col-lg-6.col-lg-offset-3.centered
      h3 MY WORK
      hr

  .row.mt.centered
    .col-lg-4
      a.zoom.green href="/work/ecotaco"
        img.img-responsive src="/assets/images/work/ecotaco.jpg" alt=""
      p
        b EcoTa.co

    .col-lg-4
      a.zoom.green href="/work/lewagon"
        img.img-responsive src="/assets/images/work/lewagon.jpg" alt=""
      p
        b Le Wagon Lille
