<div class="container pt">
  <div class="row mt">
    <div class="col-lg-6 col-lg-offset-3 centered">
      <h3>MY WORK</h3>
      <hr>
    </div>
  </div>

  <div class="row mt centered">
    <div class="col-lg-4">
      <a class="zoom green" href="/work/ecotaco">
        <img class="img-responsive" src="/assets/images/work/ecotaco.jpg" alt="" />
      </a>
      <p><b>EcoTa.co</b></p>
    </div>
<!--
    <div class="col-lg-4">
      <a class="zoom green" href="/work/tings">
        <img class="img-responsive" src="/assets/images/work/tings.jpg" alt="" />
      </a>
      <p><b>Tings</b></p>
    </div>
-->
    <div class="col-lg-4">
      <a class="zoom green" href="/work/lewagon">
        <img class="img-responsive" src="/assets/images/work/lewagon.jpg" alt="" />
      </a>
      <p><b>Le Wagon Lille</b></p>
    </div>
  </div>


</div>
